Models/target/
Models/bin/

Models/.classpath

Models/.project

Models/.settings/*

SqlMappers/target/
SqlMappers/bin/

SqlMappers/.classpath

SqlMappers/.project

SqlMappers/.settings/


OntiveroApi/target/
OntiveroApi/bin/

OntiveroApi/.classpath

OntiveroApi/.project

OntiveroApi/.settings/


MongoServices/target/
MongoServices/bin/

MongoServices/.classpath

MongoServices/.project

MongoServices/.settings/

*.class